{% extends "/exshipper/exshipper_base.html"%} {% block main_content %}

<script>
	window.onload = function() {
		history.pushState(null, null, location.href);
		window.onpopstate = function(event) {
			history.go(1);
		};
	};
</script>

<div
	style="text-align: center; margin: 0px auto; position: fixed; width: 100%; background-color: #fff; z-index: 100;">
	<p style="font-size: 26px;">ExShipper Invalid Login Page</p>
	<hr>
</div>

<div
	style="position: absolute; top: 100px; width: 100%; text-align: center; margin: 10px auto;">
	<a href="/exshipper_index">Invalid Account or Password, Please Go Back Index Page</a>
</div>

{% endblock %}
