{% extends "/exshipper/exshipper_base.html"%} {% block main_content %}

<div
	style="text-align: center; margin: 0px auto; position: fixed; width: 100%; background-color: #fff; z-index: 100;">
	<p style="font-size: 26px;">ExShipper-Spearnet Login Page</p>
	<hr>
</div>


<div
	style="position: absolute; top: 100px; width: 100%; margin: 10px auto;">
	<form action="/exshipper_tw_custom_entry_login_handler" method="post"
		style="margin: 5px auto; text-align: center;">
		<p style="display: block;">Please type in the account and password</p>
		<div>
			<label style="width: 150px; display: inline-block;">Account
				Name</label> <input name="tw_custom_entry_account" type="text"
				style="width: 250px; display: inline-block; padding: 2px 5px;" />
		</div>
		<br>
		<div>
			<label style="width: 150px; display: inline-block;">Password</label>
			<input name="tw_custom_entry_password" type="password"
				style="width: 250px; display: inline-block; padding: 2px 5px;" />
		</div>
		<input name="caller_page" value="{{caller_page}}" style="display: none;">
		<br> <input id="submit_btn" type="submit" value="Submit" />
	</form>
</div>

{% endblock %}
